body {
    background-color: cadetblue;
    font-family: 'Special Elite', cursive;
    line-height: 1.2em;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    width: 90vw;
}

@media screen and (min-width: 512px) {
    main {
        width: 40vw;
    }
} 